.supplier-landing{
  .product-content{
    .supplier-item{
        .form-control{
          &.search {
            border-radius: 32px;
            font-size: 1.20rem;
            height: calc(1.5em + .75rem + 10px);
            padding-left: 23px;
          }
        }

      .ais-Pagination{
        display:flex;

        .ais-Pagination-list{
          display: inline-flex;
          margin-left: auto;
          margin-right: auto;
          padding-inline-start: 0;
          .ais-Pagination-item{
            font-size: 23px;

            &:not(:last-child) {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}