.category{
  .add-category{
    .add-form{
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 8px;
    }
  }

  .category-list{
    max-height: 560px;
    overflow-y: scroll
  }

  @media screen and (max-width: 576px){
    .category-list{
      margin-top: 32px;
    }
  }

}