.price-simulation{

  @media screen and (max-width:480px) {
    .total-product-list{
      margin-top: 16px;
    }
  }

  .search-box{
    padding: 12px;
    border: 1px solid #dddd;
  }

  .total-product-list{
    padding: 12px;
    border: 1px solid #dddd;
  }
}