@media only screen and (max-device-width: 768px){
  .product-list .grid .column{
    &:not(:first-child){
      margin-left: 0.1rem !important;
    }
  }
}

.ais-Hits .ais-Hits-list{
  list-style-type: none;
  padding-inline-start: 0;

  .ais-Hits-item{
    margin-top: 16px;
  }
}

.product-list{
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;

  .grid{
    display: flex;

    &.space-down{
      margin-bottom: 12px;
    }

    .column{
      &:not(:first-child){
        margin-left: 32px;
      }

      &.right{
        margin-left: auto;
        align-self: center;

        a{
          color: #ffff;
          text-decoration: none;
        }
      }

      .icon{
        display: block;
        height: 25px;
        width: 25px;
      }

      .item-title{
        text-align: center;
        color: #8a93a7;
        padding-bottom: 8px;
      }
      .item-value{
        text-align: center;
        color: #58627a;
      }

      p{
        margin: 0;
      }
    }
  }

  .product-collapse{
    border-top: 1px solid #dee2ee;
    color: #58627a;
    padding-top: 12px;

    .supplier-detail{
      display: flex;
      h5{
        align-self: flex-end;
      }
      .detail-button{
        margin-left: 12px;

        a{
          text-decoration: none;
          color: #ffff;
        }
      }
    }

    .timestamp-detail{
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }

    p{
      padding: 4px;
      margin: 0;
    }
  }

  //:not(:first-child){
  //  margin-left: 12px;
  //}

}

p{
  margin: 0;
}