.product-detail{

  @media screen and (max-width:480px) {
    .second{
      margin-top: 16px;
    }
  }

  .product-form{
    .detail-action{
      button{
        margin-left: 8px;
      }
    }

    @media screen and (max-width: 400px) {
      .detail-action{
        button:last-child{
          margin-top: 8px;
        }
      }
    }
  }
}